body {
    font-family: 'Cinzel', serif;
    background-color: #FBF9F1;
}

.navbar-hufflepuff {
    background-color: #1D1D1D;
}

.navbar-hufflepuff .navbar-brand,
.navbar-hufflepuff .nav-link {
    color: #e1a95f;
}

.card-criaturas {
    background-color: #9f8278;
}

.btn-hufflepuff {
    background-color: #FBB017;
    border-color: #FBB017;
    color: #1D1D1D;
}

.imgCriaturas {
    height: 350px;
    width: 355px;
body{
    background-color: #FBF9F1;
}


#title-herb{
    background-color: #E1A95f;
    padding: 15px;
;
    color: #1D1D1D;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
}

.div-carrusel{
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.descripcion-img{
    background-color: #39572a;
    color: #e2e2e2;
    border-radius: 10px;
    padding: 30px;
}

.planta{
    
}